<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>

  


</head>
<body>
  <Header>

  </Header>



  <div id="content">
    <%- include('../../layout/navbar') %>

    <div class="hero-container">

      <%- include('../../layout/sidenav') %>

      <div class="results-main-contain">
        <h2 class="fav-h1">Favorites</h2>
        <div class="res-content-wrapper">
          <% data.forEach(google => { %>
              
            <div class="res-item">   <!---------------- one item------------------>
              <a class="res-link" href="#">
                <div class="res-img-wrapper">
                  <div class="res-photo" style="background-image: url(img/mountain.png)">
                    <img class="res-img-fill"src="" alt="">
                  </div>
                </div>
                
                <div class="res-contents">
                  <h6><%= google.name %></h6>
                  
                  <div class="cont-line-one">
                    
                    <div class="cont">
                      <img class="icon" src="../../img/map-treasure-search.png" alt="">
                      <p><%= google.formatted_address %></p>
                    </div>
                    
                    <div class="cont">
                      <img class="icon" src="../../img/hat-adventure.png" alt="">
                      <p><%= google.business_status %></p>
                    </div>
                    
                    <div class="cont">
                      <img class="icon" src="../../img/cooking-kettle.png" alt="">
                      <p><%= google.types %></p>
                    </div>
                    
                    <div class="cont">
                      <img class="icon" src="../../img/lighter-fire.png" alt="">
                      <p><%= google.rating %></p>
                    </div>
                  

          
                    
                  </div>
                  
                </div>
                
              </a>
              
            </div>   <!---- one item end ---->

          <% }) %>

          
          


        </div>


      </div>








      

    </div>


       
     
  </div>

  <footer>
    
  </footer>
  
</body>
</html>