<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>

 


  


</head>
<body>
  <Header>

  </Header>



  <div id="content">
    <%- include('../../layout/navbar') %>

    <div class="hero-container">

      <%- include('../../layout/sidenav') %>
     

      <div class="results-main-contain">
        
        <ul>
            <li> <%= yourAir.ts %> </li>
            <li> <%= yourAir.aqius %> </li>
            <li> <%= yourAir.mainus %> </li>
            <li> <%= yourAir.aqicn %> </li>
            <li> <%= yourAir.maincn %> </li>
        </ul>

        <h2>Map</h2>
        <div class="map-contain">
          <div id="map">

          </div>

        </div>
        <script>
          function initMap() {
            let uluru ={lat: -25.344, lng: 131.036};
            let map = new google.maps.Map(
              document.getElementById('map'), {zoom: 4, center: uluru}

            );
            let marker= new google.maps.Marker({position: uluru, map: map});
          }

        </script>




        <div id="seperator">
          <h2>weather</h2>
          <div class="weather-wrapper">
            
            
            
            <% weatherData.forEach(weather => { %>
              <div class="weather-item"> <!---------------- one item------------------>
                <div class="weather-item-wrapper">
                  <div class="weather-img" style="background-image: url(../../img/snowflake.png)"></div>
                  <div class="item-test-wrap">
                    <h6><%= weather.forecast %></h6>
                    <div class="weather-content-info-contain">
                      <div class="wea-info">
                        <p><%= weather.time %> </p>
                      </div>
                      <div class="wea-info">
                        <p><%= weather.forecast %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  <!---- one item end ---->
              
            <% }) %>
            

  
    
          </div>

        </div>

        <h2>Results</h2>

        <div class="res-content-wrapper">
          <div class="list">
    
            
            <% campArray.forEach(google => { %>
              
              <div class="res-item">   <!---------------- one item------------------>
                <a class="res-link" href="#">
                  <div class="res-img-wrapper">
                    <div class="res-photo" style="background-image: url(../../img/mountain.png)">
                      <img class="res-img-fill"src="" alt="">
                    </div>
                  </div>
                  
                  <div class="res-contents">
                    <h6><%= google.name %></h6>
                    <div class="button-wrapper-save">
                      <form action = "/saves" method="post">
                        <input type="hidden" name="name" value="<%= google.name %>">
                        <input type="hidden" name="address" value="<%= google.formatted_address%>">
                        <input type="hidden" name="status" value="<%= google.business_status%>">
                        <input type="hidden" name="types" value="<%= google.types%>">
                        <input type="hidden" name="rating" value="<%= google.rating%>">
                        <button class="solid-btn-save" type="submit">add to Favorites</button>
                      </form>
                    
                    </div>
                    <div class="cont-line-one">
                      
                      <div class="cont">
                        <img class="icon" src="../../img/map-treasure-search.png" alt="">
                        <p><%= google.formatted_address %></p>
                      </div>
                      
                      <div class="cont">
                        <img class="icon" src="../../img/hat-adventure.png" alt="">
                        <p><%= google.business_status %></p>
                      </div>
                      
                      <div class="cont">
                        <img class="icon" src="../../img/cooking-kettle.png" alt="">
                        <p><%= google.types %></p>
                      </div>
                      
                      <div class="cont">
                        <img class="icon" src="../../img/lighter-fire.png" alt="">
                        <p><%= google.rating %></p>
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </a>
                
              </div>   <!---- one item end ---->

            <% }) %>


            


            

            

          </div>


        </div>


      </div>








      

    </div>


       
     
  </div>

  <footer>
    
  </footer>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-lL29OaN72DOYFBp38MLlbcvLUpUOLQ4&callback=initMap&libraries=&v=weekly"></script>
</body>
</html>